<div>
		<div id="teacher-course-qry-sel-list-div" class="main-sub-content" >
			<div class = "row">
				<form id="teacher-course-qry-sel-qry-form" class="form-horizontal" th:action="@{/TeacherSelectCourse/qryCourseList.do}"  method="post">
					<input class="form-control" type="hidden"  id="teacher-course-qry-sel-qry-form-pageNum" name="pageNum"/>
				
					<div class="form-group">
						<label class="control-label col-sm-2 " for="teacher-course-qry-sel-courseName">课程名：</label>
						<div class="col-sm-3" >
							<input class="form-control" type="text"  id="teacher-course-qry-sel-courseName" name="name" placeholder="" />
						</div>
						
						
						
						<div class="col-sm-1">
							<button id="teacher-course-qry-sel-qry-list-btn" class="btn btn-primary"  data-loading-text="查询中.." type="submit">查询</button>
						</div>
					</div>
		  			
				</form>
			</div>
			<!-- 查询列表 -->
	 		<div id="teacher-course-qry-sel-list-root-div">
	 		</div>
 		</div>
 		
 		<div id="teacher-course-qry-sel-second-page-div"  class="main-sub-content">
 		</div>
 		
 		<script th:src="@{/static/teachselcourse/js/course_qry.js}"></script>
</div>