<div>
		<table  class="table  table-bordered  table-hover  table-condensed main-sub-content-list-table">
			<caption>课程信息</caption>
			<thead>
				<tr id="teacher-course-qry-sel-course-list-table-head">
					<th class="text-center">选择</th>
					<th class="text-center">课程名</th>
					<th class="text-center ">描述</th>
				</tr>
	    	<tbody>
	    		<tr  class="teacher-course-qry-sel-course-list-table-row"   th:each="course, courseIterStat:${pageInfo.list}">
	    			<td class="text-center"><input class="teacher-course-qry-sel-course-list-table-col-selectRadio" type="radio" name="teacher-course-qry-sel-course-list-radio" th:data-course-id="${course.id}" th:data-course-name="${course.name}"/></td>
	    			<td class="text-center" th:text="${course.name}"></td>
	    			<td class="text-center" th:text="${course.description}"></td>
	    		</tr>
	    	</tbody>
	    	
		</table>
		
	  	<!-- 分页 -->
	  	<div th:replace="common/pager :: pager(${pageInfo}, teacher_course_qry_sel_onQryCourseListFormSubmit)"></div>
	
		<script th:src="@{/static/teachselcourse/js/course_list.js}"></script>
</div>