<div>
		
		<input type="hidden" id="teacher-add-course-info-dtl-form-flag" th:value="${from}">
		
 		<div class="row">
			<form id="teacher-add-course-info-dtl-from" class="form-horizontal" method="post" th:action="@{/TeacherSelectCourse/addCourseModify.do}">
				<input type="hidden" name="id" th:value="${courseBean?.id}">
			
				<div class="form-group has-feedback">
					<label class="control-label col-xs-3 col-sm-2 col-sm-offset-1 required" for="teacher-add-courseName">课程名</label>
					<div class="col-xs-8 col-sm-6">
						<input class="form-control readonly-no-gray" type="text" required id="teacher-add-courseName" th:data-qry-url="@{/TeacherSelectCourse/toQryCourse.do}" autocomplete="off" readonly="readonly"  placeholder="" th:value="${courseBean?.course?.name}" />
						<input type="hidden" id = "teacher-add-courseId" name="course.id" th:value="${courseBean?.course?.id}"/>
						<span class="glyphicon glyphicon-search form-control-feedback"></span>
					</div>
				</div>
				
				<div class="form-group has-feedback">
					<label class="control-label col-xs-3 col-sm-2 col-sm-offset-1  required" for="teacher-add-courseName">学年</label>
					<div class="col-xs-8 col-sm-6">
						<input class="form-control" type="text" required id="courseYear" name="year" autocomplete="off"   placeholder="" th:value="${courseBean?.year}" />
						<span class="glyphicon glyphicon-calendar form-control-feedback"></span>
					</div>
				</div>	
				
				
				<div class="form-group">
					<label class="control-label col-xs-3 col-sm-2 col-sm-offset-1 required" for="semester">学期</label>
					<div class="col-xs-8 col-sm-6">
						<select class="form-control" id="semester"  name="semester" owl:selectOp owl:enumKey="'semester'" owl:require="'true'" owl:defaultVal="${courseBean?.semester}" >
							<option value="0">test1</option>
							<option value="1">test2</option>
						</select>							
					</div>
				</div>
				
				
				<div class="form-group">
					<label class="control-label col-xs-3 col-sm-2 col-sm-offset-1" for="mark">描述</label>
					<div class="col-xs-8 col-sm-6">
						<textarea   class="form-control" rows="3" name="mark" id="mark" th:text="${courseBean?.mark}"></textarea>
					</div>
				</div>
				
				<div class="form-group" th:if="'teacherChgCourse' == ${from}">
					<label class="control-label col-xs-3 col-sm-2 col-sm-offset-1" for="courseStatus">状态</label>
					<div class="col-xs-8 col-sm-6">
						<select class="form-control" id="courseStatus"  name="status" owl:selectOp owl:enumKey="'course_status'" owl:require="'true'" owl:defaultVal="${courseBean?.status}" >
							<option value="0">test1</option>
							<option value="1">test2</option>
						</select>							
					</div>
				</div>
				
	
				<div class="form-group text-center">
					<button id="teacher-add-course-info-dtl-form-submitBtn"  type="submit" class="btn btn-primary" data-loading-text="处理中.."  th:text="'teacherAddCourse' != ${from} ? '修改' : ' 添加'     "  >新增</button>
					<button id="teacher-add-course-info-dtl-form-returnBtn" class="btn btn-primary">返回</button>
				</div>
			</form>
 		</div>
 		
 		<script th:src="@{/static/teachselcourse/js/teacher_add_course.js}"></script>
</div>