<div class = "role-manage-wrapper">
		<div class = "row">
			<h3 class="col-xs-12 text-primary text-center">角色管理</h3>
		</div>
		
		<div id="role-manage-role-list-div" class="main-sub-content" >
			<div class = "row">
				<form id="role-manage-qry-form" class="form-horizontal" th:action="@{/RoleManage/qryRoleList.do}"  method="post">
					<input class="form-control" type="hidden"  id="role-manage-qry-form-pageNum" name="pageNum"/>
				
					<div class="form-group">
						<label class="control-label col-sm-2 " for="roleKey">角色id：</label>
						<div class="col-sm-3" >
							<input class="form-control" type="text"  id="roleKey" name="name" placeholder="" />
						</div>
					
					
						<label class="control-label col-sm-2 " for="roleName">角色名：</label>
						<div class="col-sm-3" >
							<input class="form-control" type="text"  id="roleName" name="chName" placeholder="" />
						</div>
						
						<div class="col-sm-1">
							<button id="role-manage-qry-list-btn" class="btn btn-primary"  data-loading-text="查询中.." type="submit">查询</button>
						</div>
					</div>
		  			
				</form>
			</div>
			<!-- 查询列表 -->
	 		<div id="role-manage-role-list-root-div">
	 		</div>
 		</div>
 		
 		<div id="role-manage-second-page-div"  class="main-sub-content">
 		</div>
 		
 		<script th:src="@{/static/role_manage/js/role_mamange.js}"></script>
</div>