<div>
		<table class="table  table-bordered  table-hover  table-condensed main-sub-content-list-table">
			<caption>成绩信息</caption>
			<thead>
				<tr>
					<th class="text-center">课程名</th>
					<th class="text-center">学期</th>
					<th class="text-center">教师</th>
					<th class="text-center">分数</th>
				</tr>
	    	<tbody>
	    		<tr class="myselcourse-list-table-row"  th:each="myselcourse, myselcourseIterStat:${pageInfo.list}">
	    			<td class="text-center" th:text="${myselcourse.courseName}"></td>
	    			<td class="text-center"><span th:text="${myselcourse.year} + '年'  "></span><span owl:enumVal="${myselcourse.semester}" owl:enumKey="'semester'"></span></td>
	    			<td class="text-center" th:text="${myselcourse.teacherName} + '(' + ${myselcourse.teacherAccountName} + ')'" ></td>
	    			<td class="text-center" th:text="${myselcourse.score}"></td>
	    		</tr>
	    	</tbody>
	    	
		</table>
		
	  	<!-- 分页 -->
	  	<div th:replace="common/pager :: pager(${pageInfo}, scoreqry_onQryCourseListFormSubmit)"></div>
</div>