<div class = "course-manage-wrapper">
		<div class = "row">
			<h3 class="col-xs-12 text-primary text-center">课程管理</h3>
		</div>
		
		<div id="course-manage-course-list-div" class="main-sub-content" >
			<div class = "row">
				<form id="course-manage-qry-form" class="form-horizontal" th:action="@{/CourseManage/qryCourseList.do}"  method="post">
					<input class="form-control" type="hidden"  id="course-manage-qry-form-pageNum" name="pageNum"/>
				
					<div class="form-group">
						<label class="control-label col-sm-2 " for="courseName">课程名：</label>
						<div class="col-sm-3" >
							<input class="form-control" type="text"  id="courseName" name="name" placeholder="" />
						</div>
						
						
						
						<div class="col-sm-1 col-sm-offset-5">
							<button id="course-manage-qry-list-btn" class="btn btn-primary"  data-loading-text="查询中.." type="submit">查询</button>
						</div>
					</div>
		  			
				</form>
			</div>
			<!-- 查询列表 -->
	 		<div id="course-manage-course-list-root-div">
	 		</div>
 		</div>
 		
 		<div id="course-manage-second-page-div"  class="main-sub-content">
 		</div>
 		
 		<script th:src="@{/static/course_manage/js/course_manage.js}"></script>
</div>