<div>
		<table class="table  table-bordered  table-hover  table-condensed main-sub-content-list-table">
			<caption>用户信息</caption>
			<thead>
				<tr>
					<th class="text-center">选择</th>
					<th class="text-center">帐号</th>
					<th class="text-center">姓名</th>
					<th class="text-center">角色</th>
					<th class="text-center">性别</th>
					<th class="text-center">手机</th>
					<th class="text-center">证件类型</th>
					<th class="text-center">证件号码</th>
				</tr>
			</thead>
	    	<tbody>
	    		<tr class="user-list-table-row"  th:each="user, userIterStat:${pageInfo.list}">
	    			<td class="text-center"><input class="user-list-table-col-selectCheckBox" type="checkbox" th:data-user-id="${user.id}"/></td>
	    			<td class="text-center" th:text="${user.accountName}"></td>
	    			<td class="text-center" th:text="${user.name}"></td>
	    			<td class="text-center" owl:enumVal="${user.role.name}" owl:enumKey="'sys_role'"  ></td>
	    			<td class="text-center" owl:enumVal="${user.sex}" owl:enumKey="'sex'"  ></td>
	    			<td class="text-center" th:text="${user.tel}"></td>
	    			<td class="text-center" owl:enumVal="${user.identityType}" owl:enumKey="'identity_type'"  ></td>
	    			<td class="text-center" th:text="${user.identityNum}"></td>
	    		</tr>
	    	</tbody>
	    	
		</table>
		
	  	<!-- 分页 -->
	  	<div th:replace="common/pager :: pager(${pageInfo}, user_manage_onQryUserListFormSubmit)"></div>
  	
	  	<div class="main-sub-content-list-operator-btn-list">
	  		<input id="user-list-addUserBtn" class="btn btn-success" type="button" th:data-target-url="@{/UserManage/toAddUser.do}"  data-loading-text="处理中.." value="添加用户"/>
	  		<input id="user-list-chginfoBtn" class="btn btn-primary" type="button" th:data-target-url="@{/UserManage/toChgUserInfo.do}"  data-loading-text="处理中.." value="修改信息"/>
	  		<input id="user-list-chgpasswordBtn" class="btn btn-primary" type="button" th:data-target-url="@{/UserManage/toChgPassword.do}"  data-loading-text="处理中.." value="修改密码"/>
	  		<input id="user-list-deleteBtn" class="btn btn-danger" type="button" th:data-target-url="@{/UserManage/deleteUserList.do}"  data-loading-text="处理中.." value="删除用户"/>
	  	</div>
  	
	
	<script th:src="@{/static/user_manage/js/user_list.js}"></script>
</div>