<div>
		<table  class="table  table-bordered  table-hover  table-condensed main-sub-content-list-table">
			<caption>课程信息</caption>
			<thead>
				<tr id="student-course-qry-sel-course-list-table-head">
					<th class="text-center">选择</th>
					<th class="text-center">课程名</th>
					<th class="text-center">教师</th>
					<th class="text-center">学年</th>
					<th class="text-center">学期</th>
					<th class="text-center">备注</th>
				</tr>
	    	<tbody>
	    		<tr  class="student-course-qry-sel-course-list-table-row"   th:each="course, courseIterStat:${pageInfo.list}">
	    			<td class="text-center"><input class="student_course_qry_sel_course_list-table-col-selectRadio" name="selectRadio" type="radio" th:data-course-id="${course.id}"/></td>
	    			<td class="text-center" th:text="${course.course.name}"></td>
	    			<td class="text-center" th:text="${course.userName} + '(' + ${course.accountName} + ')'"></td>
	    			<td class="text-center" th:text="${course.year}"></td>
	    			<td class="text-center" owl:enumVal="${course.semester}" owl:enumKey="'semester'" ></td>
	    			<td class="text-center" th:text="${course.mark}"></td>
	    		</tr>
	    	</tbody>
	    	
		</table>
		
	  	<!-- 分页 -->
	  	<div th:replace="common/pager :: pager(${pageInfo}, student_course_qry_sel_onQryCourseListFormSubmit)"></div>
	
		<script th:src="@{/static/stdselcourse/js/course_list.js}"></script>
</div>