<div>
		<div id="student-course-qry-sel-list-div" class="main-sub-content" >
			<div class = "row">
				<form id="student-course-qry-sel-qry-form" class="form-horizontal" th:action="@{/StdSelectCourse/qryTeacherCourseList.do}"  method="post">
					<input class="form-control" type="hidden"  id="student-course-qry-sel-qry-form-pageNum" name="pageNum"/>
				
					<div class="form-group">
						<label class="control-label col-sm-2 " for="student-course-qry-sel-courseName">课程名：</label>
						<div class="col-sm-3" >
							<input class="form-control" type="text"  id="student-course-qry-sel-courseName" name="course.name" placeholder="" />
						</div>
						
						<label class="control-label  col-sm-2" for="student-course-qry-sel-teacherName">教师名：</label>
						<div class="col-sm-3">
							<input class="form-control" type="text" id="student-course-qry-sel-teacherName" name="userName" />
						</div>
						
						<div class="col-sm-1">
							<button id="student-course-qry-sel-qry-list-btn" class="btn btn-primary"  data-loading-text="查询中.." type="submit">查询</button>
						</div>
					</div>
					
					<!-- 更多条件 -->
		  			<div class="panel-collapse collapse" id="student-course-qry-sel-more-condition">
						<div class="form-group">
							<label class="control-label  col-sm-2" for="student-course-qry-sel-teacherAccountName">教师工号：</label>
							<div class="col-sm-3">
								<input class="form-control" type="text" id="student-course-qry-sel-teacherAccountName" name="accountNameLike" />
							</div>
							
							
							<label class="control-label col-sm-2 " for="student-course-qry-sel-courseYear">学年：</label>
							<div class="col-sm-3" >
								<input class="form-control" type="text"  id="student-course-qry-sel-courseYear" name="year" placeholder="" />
							</div>
						</div>	
						
						<div class="form-group">
							<label class="control-label col-sm-2" for="student-course-qry-sel-semester">学期：</label>
							<div class="col-sm-3">
								<select class="form-control" id="student-course-qry-sel-semester"  name="semester" owl:selectOp owl:enumKey="'semester'">
									<option value="0">test1</option>
									<option value="1">test2</option>
								</select>	
							</div>
						</div>
		  			
		  			</div>
		  			<div class="form-group">
						<div class="col-sm-2" style="text-align: right;">
			  				<a id="student-course-qry-sel-more-condition-link" data-toggle="collapse" href="#student-course-qry-sel-more-condition"><span id="student-course-qry-sel-more-condition-text">更多</span><span  id="student-course-qry-sel-more-condition-icon" class="glyphicon glyphicon-menu-down"></span></a>
						</div>
					</div>
					
				</form>
			</div>
			<!-- 查询列表 -->
	 		<div id="student-course-qry-sel-list-root-div">
	 		</div>
 		</div>
 		
 		<div id="student-course-qry-sel-second-page-div"  class="main-sub-content">
 		</div>
 		
 		<script th:src="@{/static/stdselcourse/js/course_qry.js}"></script>
</div>