<div>
		<table class="table  table-bordered  table-hover  table-condensed main-sub-content-list-table">
			<caption>课程信息</caption>
			<thead>
				<tr>
					<th class="text-center">选择</th>
					<th class="text-center">课程名</th>
					<th class="text-center">学年</th>
					<th class="text-center">学期</th>
					<th class="text-center">教师</th>
					<th class="text-center">状态</th>
					<th class="text-center">备注</th>
				</tr>
	    	<tbody>
	    		<tr class="myselcourse-list-table-row"  th:each="myselcourse, myselcourseIterStat:${pageInfo.list}">
	    			<td class="text-center"><input class="myselcourse-list-table-col-selectCheckBox" type="checkbox" th:data-teacher-course-id="${myselcourse.teacherCourseId}"/></td>
	    			<td class="text-center" th:text="${myselcourse.courseName}"></td>
	    			<td class="text-center" th:text="${myselcourse.year}"></td>
	    			<td class="text-center" owl:enumVal="${myselcourse.semester}" owl:enumKey="'semester'" ></td>
	    			<td class="text-center" th:text="${myselcourse.teacherName} + '(' + ${myselcourse.teacherAccountName} + ')'"></td>
	    			<td class="text-center" owl:enumVal="${myselcourse.status}" owl:enumKey="'course_status'" ></td>
	    			<td class="text-center" th:text="${myselcourse.teacherCourseMark}"></td>
	    		</tr>
	    	</tbody>
	    	
		</table>
		
	  	<!-- 分页 -->
	  	<div th:replace="common/pager :: pager(${pageInfo}, stdselcourse_manage_onQryCourseListFormSubmit)"></div>
  	
	  	<div class="main-sub-content-list-operator-btn-list">
	  		<input id="myselcourse-list-addBtn" class="btn btn-success" type="button" th:data-target-url="@{/StdSelectCourse/toAddCourse.do}" th:data-add-course-url="@{/StdSelectCourse/dealAddCourse.do}"  data-loading-text="处理中.." value="添加选课"/>
	  		<input id="myselcourse-list-delBtn" class="btn btn-danger" type="button" th:data-target-url="@{/StdSelectCourse/toDelCourse.do}"  data-loading-text="处理中.." value="退出选课"/>
	  	</div>
  	
	
	<script th:src="@{/static/stdselcourse/js/myselcourse_list.js}"></script>
</div>